<h1>Listing ideas</h1>

<ul>
<% @ideas.each do |idea| %>
  <li>
    <p><%= idea.name %></p>
    <p><%= idea.description %></p>
    <p><%= idea.picture %></p>
    <p><%= link_to 'Show', idea %></p>
    <p><%= link_to 'Edit', edit_idea_path(idea) %></p>
    <p><%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete %></p>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Idea', new_idea_path %>
