<h1>Listing ideas</h1>

<ul class='idea-space'>
<% @ideas.each do |idea| %>
  <li class='idea'>
    <div class='idea-header'>
      <span class='idea-name'>
        <%= idea.name %>
      </span>
      <span class='idea-links'>
        <%= link_to 'Show', idea %> |
        <%= link_to 'Edit', edit_idea_path(idea) %> |
        <%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete %>
      </span>
    </div>
    <%= image_tag(idea.picture_url) if idea.picture.present? %>
    <p><%= idea.description %></p>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Idea', new_idea_path %>
