<h1>Your ideas</h1>

<ul class='idea-space'>
<% @ideas.each do |idea| %>
  <li class='idea' data-id='<%= idea.id %>' data-x='<%= idea.x %>' data-y='<%= idea.y %>'>
    <div class='idea-header'>
      <span class='idea-name'>
        <%= link_to idea do %>
          <%= idea.name %>
        <% end %>
      </span>
      <span class='idea-links'>
        <%= link_to 'Edit', edit_idea_path(idea) %> |
        <%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete %>
      </span>
    </div>
    <%= image_tag(idea.picture_url) if idea.picture.present? %>
    <p><%= idea.description %></p>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Idea', new_idea_path %>
